.navbar {
    background-color: rgba(233,30,99,1);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
}

.logo {
    margin: 0 10px 0 10px;
    color: white;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    justify-self: baseline;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    margin: 10px
}

.hamburger div {
    width: 2rem;
    height: 0.25rem;
    background-color: white;
}

.navbar ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}


@media (max-width: 768px) {
    .navbar ul {
        display: none;
    }

    .hamburger {
        display: flex;
    }


}
