.navbar {
    background-color: rgba(233,30,99,1);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.logo {
    margin-left: 10px;
    color: white;
}

.navbar ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navItem {
    margin: 10px;
}

.navItem a {
    text-decoration: none;
    color: white;
}
